doctype html
html
  head
    title MN Portfolio
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="assets/css/main.css")
    link(rel="stylesheet" href="assets/css/font-awesome.min.css")

    //- fonts awesome
    script(src="https://use.fontawesome.com/bdc8402221.js")

    
    
  body
    //- main content goes here 
    
    section
      
      //- wrapper for the header so I can add in the dots ect
      .row  
        .col.col--12-of-12
          .full-vw-wrapper
            //- Pixel Section
            .pixels
            
              //- Orange
              .pixel.pixel-01.sizeL
              .pixel.pixel-02.sizeS
              .pixel.pixel-03.sizeXL
              .pixel.pixel-04.sizeL
              
              //- Purple
              .pixel.pixel-05.sizeS
              .pixel.pixel-06.sizeL
              .pixel.pixel-07.sizeXL
              .pixel.pixel-08.sizeL
              //- Green
              .pixel.pixel-09.sizeS
              .pixel.pixel-10.sizeL
              .pixel.pixel-11.sizeXL
              .pixel.pixel-12.sizeL
              
            .row.header-wrapper
              //- nav
              //- .col.col--12-of-12 
              //-   .l-nav-header.header-nav
              //-     ul 
              //-      li: a(href='#') Home
              //-      li: a(href='#') Portfolio
              //-      li: a(href='#') About
              //-      li: a(href='#') Articles
                  //-  li: a(href='#') Contact
              
              //- header information
              .col.col--5-of-12
                .l-header-intro
                  .header-intro
                    p Hi there, my name is Mauro, I am a JNR Front End Web Dev & UI Dev based in England. I have skills in GIT, GSAP, SASS, HTML5, and JS. Emjoy my portfolio!
                
              //- Header title
              .col.col--9-of-12
                .l-header-title.header-title Mauro Nappolini
                
              .col.col--9-of-12
                .l-header-title-cover.header-title-cover
                  
                  
                  
                
              //- Header my work
              //- .row
              //- .col.col--1-of-12
              //-   .l-my-work.my-work
              //-     h5 My <br> Work
              //-     ul
              //-       li: i.fa.fa-angle-down.one
              //-       li: i.fa.fa-angle-down.two
              //-       li: i.fa.fa-angle-down.three
                  
    section.page-wrapper    
              
      //- Main body section
      //- Portfolio section 1 info
      .row 
        .col.col--12-of-12
          .portfolio-wrapper
            
            .row
              //- Port-info
              .col.col--4-of-12
                .l-port-info.port-info
                  p My Portfolio
                  h4 I do everything with my, <br> core values of honesty,  <br>hard work, and trust.
              
                //-Portfolio square box 
              .col.col--7-of-12.col--push-1-of-12
                .l-port-square-box
              
                //- Portfolio-iphone
              .col.col--4-of-12
                .l-iphone
      
      
      //- Portfolio section 2 info
      .row 
        .col.col--12-of-12
          .l-portfolio-wrapper-2
            
            .row
              //- Port-info
              .col.col--4-of-12
                .l-port-info-2.port-info-2
                  h2 What <br> they're <br> saying
                  p “Great person to work with! Did the <br> job faster than the <br>initial due date, great service and great communication. Thank you!”
                  h5 Mabel Jones
                //-Portfolio square box 
              .col.col--7-of-12.col--push-1-of-12
                .l-port-square-box-2
                
                
      //- Portfolio section 3 info
      .row 
        .col.col--12-of-12
          .l-portfolio-wrapper-3
            
            .row
              //- Port-info
              .col.col--7-of-12
                .l-square-box-3
              
                //- Portfolio-iphone
              .col.col--4-of-12.col--push-1-of-12
                .l-iphone-3 
              
                //- Portfolio-iphone
              .col.col--2-of-12.col--push-8-of-12
                .l-load-more.load-more
                  h4 Load more 
                
                      
      //- Article Section
      //- .row 
      //-   .col.col--10-of-12.col--centered
      //-     .l-article-wrapper
      //-       
      //-       .row
      //-         //- article-title
      //-         .col.col--5-of-12.col--push-1-of-12
      //-           .l-article-title.article-title
      //-             h3 Motivation how to build <br>trust at work
      //-             
      //-           //- article-body
      //-         .col.col--5-of-12
      //-           .l-article-body.article-body
      //-             p Most people who work in an office environment, <buy computer products, <br> or have a computer at home have had the “fun” <br> experience of dealing with technical support.
      //-             h5 Read more
      //-             
      //-         //- Article Article
      //-         .col.col--8-of-12.col--centered
      //-           .l-article.a
      //-             img(src="assets/img/articles.png" alt="Article Title")
      //-           
      //-         //- article-title
      //-         .col.col--5-of-12.col--push-1-of-12
      //-           .l-article-title.article-title-2
      //-             h3 Motivation how to build <br>trust at work
      //-             
      //-         
      //-           //- article-body
      //-         .col.col--5-of-12
      //-           .l-article-body.article-body-2
      //-             p Most people who work in an office environment, <buy computer products, <br> or have a computer at home have had the “fun” <br> experience of dealing with technical support.
      //-             h5 Read more
      
      //- blog Section
      .row 
        .col.col--12-of-12
          .l-blog-wrapper
            
            .row
              //- about-header
              .col.col--7-of-12
                .l-blog-header.blog-header
                  p / Blog
                  h2 My process of Front end Web Development
                
              //- Blog items col-1
            .row
                //- article-blog
              .col.col--4-of-12
                .l-blog-blog-first.blog-blog.blog-1
                  .date 
                    p Design tips \  14.02.2017
                  h3 Art exhibition <br> creative display design tips
                  p Creating a blog page is simple. Just choose one of the blog templates hoose one of the blog team and start writing articles. Each time ...
                  h5: a(href="#") Read More
                  .blog-line
                  
                //- article-blog
              .col.col--4-of-12
                .l-blog-blog.blog-blog-2.blog-2
                  .date 
                    p Design tips \  14.02.2017
                  h3 Art exhibition <br> creative display design tips
                  p Creating a blog page is simple. Just choose one of the blog templates hoose one of the blog team and start writing articles. Each time ...
                  h5: a(href="#") Read More
                  .blog-line
                
                //- article-blog
              .col.col--4-of-12
                .l-blog-blog-last.blog-blog.blog-3
                  .date 
                    p Design tips \  14.02.2017
                  h3 Art exhibition <br> creative display design tips
                  p Creating a blog page is simple. Just choose one of the blog templates hoose one of the blog team and start writing articles. Each time ...
                  h5: a(href="#") Read More
                  .blog-line
                
                
              //- Blog items col-1
            .row
                //- article-blog
              .col.col--4-of-12
                .l-blog-blog-first.blog-blog-2.blog-4
                  .date 
                    p Design tips \  14.02.2017
                  h3 Art exhibition <br> creative display design tips
                  p Creating a blog page is simple. Just choose one of the blog templates hoose one of the blog team and start writing articles. Each time ...
                  h5: a(href="#") Read More
                  .blog-line
              
                //- article-blog
              .col.col--4-of-12
                .l-blog-blog.blog-blog-2.blog-5
                  .date 
                    p Design tips \  14.02.2017
                  h3 Art exhibition <br> creative display design tips
                  p Creating a blog page is simple. Just choose one of the blog templates hoose one of the blog team and start writing articles. Each time ...
                  h5: a(href="#") Read More
                  .blog-line
                
                //- article-blog
              .col.col--4-of-12
                .l-blog-blog-last.blog-blog-2.blog-6
                  .date 
                    p Design tips \  14.02.2017
                  h3 Art exhibition <br> creative display design tips
                  p Creating a blog page is simple. Just choose one of the blog templates hoose one of the blog team and start writing articles. Each time ...
                  h5: a(href="#") Read More
                  .blog-line
                
              
      
            
      //- About Section
      .row 
        .col.col--12-of-12
          .about-wrapper
            
            .row
              //- about-body
              .col.col--9-of-12
                .about-main 
                  h4 \  about
                  .about-title
                    h2 My Skills, Passions and expertise
                    .about-body
                      p Whale was seized and sold, and his Grace the Duke of Wellington received the money. Thinking that viewed in some particular lights, the case might by a bare possibility in some small degree be deemed, under the circumstances, a rather hard one, an honest clergyman of the town addressed a note to his Grace, begging him to take the case of those unfortunate mariners into full consideration. He could not use his short-sword to advantage because I was too close to him, nor could he draw his pistol, which he attempted to do in direct opposition to Martian custom which says that you may not fight a fellow warrior in private combat with any other than the weapon with which you are attacked.
                      .download-cv
                        h5: a(href="#") Downloadd CV
            .row  
              .col.col--1-of-12.skills
                h4 Skills 
              .col.col--6-of-12.skills-items
                p HTML 5 - CSS3 - SASS - GIT - JS - Green Sock - Scroll Magic 
                
              //- 
                //- article-body
              //- .col.col--7-of-12.col--push-1-of-12
              //-   .about-skills-main
              //-     ul.about 
              //-       li.about-name
              //-         h4 / Name
              //-         p Mauro Nappolini
              //-       li.about-age
              //-         h4 / Age 
              //-         p 05/01/1986
              //-       li.about-skills
              //-         h4 / skills
              //-         p HTML5, JS, SASS, CSS3 Animation, GASP, GIT, 
              //-       li.about-social
              //-         h4 / Social 
              //-         p GIT,
                      
              
              .col.col--12-of-12
                .about-skills-main-mobile
                  ul.about 
                    li.about-name
                      h5 / Name
                      p Mauro <br> Nappolini
                    li.about-age
                      h5 / Age 
                      p 31 
                    li.about-skills
                      h5 / skills
                      p HTML5, JS, <br> SASS, CSS3 Animation,<br> GASP, GIT, 
                    li.about-social
                      h5 / Social 
                      p GIT,
              
      
               
                    
                
    //- Footer Section
    .row 
      .col.col--12-of-12
        .footer-wrapper
          
          .row
            //- footer-line
            .col.col--12-of-12
              .footer-line
            
              //- Contact
            .col.col--6-of-12.col--centered
              .contact
                h3 Mauro Nappolini
                h5 07539-536-872 --- Email: mauro.nappolini@hotmail.com
                
                
            //-   //- Social
            //- .col.col--4-of-12.col--push-5-of-12
            //-   .social
            //-     ul 
            //-       li: a(href='#') Contact
                    
                     
                      
    
      
          
    script(src="assets/js/jquery-2.1.4.min.js")
    script(src="assets/js/functions.js" type="text/javascript")
    script(src="assets/js/head-title.js" type="text/javascript")
    
    //- GSAP CDN links

    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TimelineLite.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/CSSPlugin.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/CSSRulePlugin.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/BezierPlugin.min.js")
